/build/
/Examples/
/Examples-Repos/
/Soom-Simulations/
/Templates/
/Theory/
/Forms/
/Example-Thesis/
/Papers/
/Readings/
/sim_verilator
/.~lock*
/~$*
/docs/.$*work/
transcript
vsim.wlf
modelsim.ini
sim_verilator/
tests/*.o
tests/*.elf
